body{
  background-color: rgb(94, 91, 91);
}
input[type="text"]{
  background-color: transparent;
  color: white;
}

input[type="text"]:focus{
  background-color: transparent;
}
.video{
  border: 3px solid  rgb(165, 164, 164);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
}

@media (max-width:576px) {
  .video{
    width: 100%;
  }
  h2{
    font-size: 25px;
  }
}